<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Markus WatchKit Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CLKComplicationPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).ComplicationController</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>easjr.Markus.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>to monitor irregular changes in heart rate</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Markus AI requires health sensor data to monitor irregular changes.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>to monitor irregular changes in heart rate</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>for emergency cases</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Markus AI requires microphone access to listen for loud noises around the user that can signal danger.</string>
	<key>NSMotionUsageDescription</key>
	<string>Markus AI requires motion sensor data to monitor behavior.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>physical-therapy</string>
		<string>workout-processing</string>
	</array>
	<key>WKExtensionDelegateClassName</key>
	<string>$(PRODUCT_MODULE_NAME).ExtensionDelegate</string>
	<key>WKWatchOnly</key>
	<true/>
</dict>
</plist>
